/* HTML5 block elements */
article, aside, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}


a:hover {
	color: #C00;
}

a, a:visited {
	color: #FF0000;
	text-decoration: none;
}

/* hide notes */
.notes {
  display: none;
}

/* using keyboard navigation, so hide the links */
nav {
  display: none;
}

body, pre, pre code, li {
  font-size: 20px;
  line-height: 2;
}
pre, pre code {
  line-height: 1.2;
}
h1 {
  font-size: 52px;
}
p, li {
  font-size: 24px;
}
blockquote {
  max-width: 720px;
}

section p {
  max-width: 816px;
}

section:first-child h1 {
  margin: 56px 0;
  text-align: center;
  font-size: 64px;
}
section:first-child h3 {
  max-width: 816px;
  text-align: right;
  font-size: 48px;
}
section:first-child h4 {
  max-width: 816px;
  text-align: right;
  font-size: 30px;
}
section:first-child p {
  text-align: right;
}

ul {

	margin: 0 0 0 30px;
}

img[alt='right'] {
	float: right;
}

img {
	max-width: 100%;
}

.slide_7 img {
  margin: 30px;
  float: right;
  width: 200px;
}